.sky-date-pick{
    z-index: 99;
    position: absolute;
    width: 280px;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    color: #333333;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.sky-date-pick .color1{
    color: #999999;
}
.sky-date-pick .bg1{
    background-color: #F5F2CD;
}
.sky-date-pick .cc{
    position: relative;
    width: 100%;
}
.sky-date-pick .close{
    position: absolute; cursor: pointer;
    line-height: 28px; font-size: 16px; text-align: center;
    width: 30px; height: 31px; 
    right: -30px; top: -1px;
    background-color: #DDDDDD;
}
.sky-date-pick .close:before{
    content: 'x'; font-family: '微软雅黑';
}
.sky-date-pick .head{
    overflow: hidden;
    height: 29px; border-bottom: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD;
}
.sky-date-pick .w1{
    width: 50%; float: left; display: block;
    height: 100%;
    text-align: center;
}
.sky-date-pick .fn1,.sky-date-pick .fn2{
    display: inline-block; width: 16px; vertical-align: text-top;
    cursor: pointer; height: 28px; line-height: 28px; 
}
.sky-date-pick .fn1:before{
    content: '<';
}
.sky-date-pick .fn2:before{
    content: '>';
}
.sky-date-pick .txt1{
    display: inline-block; vertical-align: text-top;
    padding: 0 6px; cursor: pointer; height: 28px; line-height: 28px;
}
.sky-date-pick .fn1:hover,.sky-date-pick .fn2:hover,.sky-date-pick .txt1:hover{
    color: #F5929D;
}
.sky-date-pick .ccc{
    position: relative;
    height: 210px; overflow: hidden;
}
.sky-date-pick .l2{
    height: 30px;
}
.sky-date-pick .b1,.sky-date-pick .b2{
    display: block;
    float: left; width: 39px; height: 29px; line-height: 28px; text-align: center;
    border-bottom: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD;
}
.sky-date-pick .b1{
    font-weight: 700;
}
.sky-date-pick .b2{
    cursor: pointer;
}
.sky-date-pick .b2:hover{
    background-color: #F5C2CD;
}
.sky-date-pick .fl-day,.sky-date-pick .fl-month,.sky-date-pick .fl-year{
    display: none;
}
.sky-date-pick .for-day .fl-day,.sky-date-pick .for-month .fl-month,.sky-date-pick .for-year .fl-year{
    display: block;
}
.sky-date-pick .btns{
    overflow: hidden;
    height: 29px; border-bottom: 1px solid #DDDDDD;
}

.sky-date-pick .b3{
    width: 55px; float: left; display: block;
    height: 41px; cursor: pointer;
    line-height: 40px; text-align: center;
    border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD;
}

.sky-date-pick .b4{
    width: 69px; float: left; display: block;
    height: 69px; cursor: pointer;
    line-height: 68px; text-align: center;
    border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD;
}

.sky-date-pick .b5{
    width: 55px; float: left; display: block;
    height: 100%; cursor: pointer;
    line-height: 28px; text-align: center;
    border-right: 1px solid #DDDDDD;
    background-color: #F5F2ED;
}
.sky-date-pick .b5:hover,.sky-date-pick .b4:hover,.sky-date-pick .b3:hover{
    background-color: #F5C2CD;
}