
html,
body,
#app {
  height: 100%;
}
.hd {
  display: none;
}
.setup {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #95cb75;
  z-index: 9999;
  top: 0;
  left: 0;
}
.setup .prog {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.setup .prog span {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  background-color: #fff;
  text-align: center;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  line-height: 100px;
}
.setup {
  animation: anim-setup 0.7s linear 1.5s 1 normal;
  animation-play-state: running;
  animation-fill-mode: none;
  -webkit-animation: anim-setup 0.7s linear 1.5s 1 normal;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: none;
  -moz-animation: anim-setup 0.7s linear 1.5s 1 normal;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: none;
  -o-animation: anim-setup 0.7s linear 1.5s 1 normal;
  -o-animation-play-state: running;
  -o-animation-fill-mode: none;
  -ms-animation: anim-setup 0.7s linear 1.5s 1 normal;
  -ms-animation-play-state: running;
  -ms-animation-fill-mode: none;
}
.setup .prog {
  animation: anim-prog 1.5s ease-out 0s 1 normal;
  animation-play-state: running;
  animation-fill-mode: none;
  -webkit-animation: anim-prog 1.5s ease-out 0s 1 normal;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: none;
  -moz-animation: anim-prog 1.5s ease-out 0s 1 normal;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: none;
  -o-animation: anim-prog 1.5s ease-out 0s 1 normal;
  -o-animation-play-state: running;
  -o-animation-fill-mode: none;
  -ms-animation: anim-prog 1.5s ease-out 0s 1 normal;
  -ms-animation-play-state: running;
  -ms-animation-fill-mode: none;
}
@keyframes anim-setup {
0% {
    opacity: 0.8;
}
100% {
    opacity: 0;
}
}
@keyframes anim-prog {
0% {
    width: 100%;
    height: 100px;
}
100% {
    width: 100%;
    height: 100%;
}
}

.container-fluid[data-v-0d7fb38f] {
  height: 100%;
  background-color: #95cb75;
}
.container-fluid .title[data-v-0d7fb38f] {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px #a7a4a4;
  position: relative;
  height: 150px;
  margin: 0;
}
.container-fluid .title a[data-v-0d7fb38f] {
  color: #fff;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  top: 50px;
  left: 150px;
}
.container-fluid .title span[data-v-0d7fb38f] {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  opacity: 1;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
}
.container-fluid .title:hover span[data-v-0d7fb38f] {
  opacity: 0;
}
.container-fluid .title:hover a[data-v-0d7fb38f] {
  display: inline;
  opacity: 1;
}
.container-fluid .anim-box[data-v-0d7fb38f] {
  top: 30%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 380px;
  text-align: center;
}
.container-fluid .anim-l[data-v-0d7fb38f],
.container-fluid .anim-r[data-v-0d7fb38f] {
  width: 100%;
  border-top: 1px solid #fff;
  position: absolute;
}
.container-fluid .anim-l[data-v-0d7fb38f]:after,
.container-fluid .anim-r[data-v-0d7fb38f]:after {
  content: " ";
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  border: 6px solid #fff;
  top: -13px;
}
.container-fluid .anim-l[data-v-0d7fb38f]:after {
  left: 365px;
  animation: anim-l 3s linear 0s infinite alternate;
  animation-play-state: running;
  animation-fill-mode: none;
  -webkit-animation: anim-l 3s linear 0s infinite alternate;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: none;
  -moz-animation: anim-l 3s linear 0s infinite alternate;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: none;
  -o-animation: anim-l 3s linear 0s infinite alternate;
  -o-animation-play-state: running;
  -o-animation-fill-mode: none;
  -ms-animation: anim-l 3s linear 0s infinite alternate;
  -ms-animation-play-state: running;
  -ms-animation-fill-mode: none;
}
.container-fluid .anim-r[data-v-0d7fb38f]:after {
  left: 0;
  animation: anim-r 3s linear 0s infinite alternate;
  animation-play-state: running;
  animation-fill-mode: none;
  -webkit-animation: anim-r 3s linear 0s infinite alternate;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: none;
  -moz-animation: anim-r 3s linear 0s infinite alternate;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: none;
  -o-animation: anim-r 3s linear 0s infinite alternate;
  -o-animation-play-state: running;
  -o-animation-fill-mode: none;
  -ms-animation: anim-r 3s linear 0s infinite alternate;
  -ms-animation-play-state: running;
  -ms-animation-fill-mode: none;
}
@keyframes anim-l {
0% {
    left: 365px;
    top: 0px;
}
25% {
    top: 140px;
}
50% {
    top: 0px;
}
75% {
    top: 140px;
}
100% {
    left: 0;
    top: 0px;
}
}
@keyframes anim-r {
0% {
    left: 0px;
}
25% {
    left: 273.75px;
}
50% {
    left: 0;
}
75% {
    left: 91.25px;
}
100% {
    left: 365px;
}
}







/*# sourceMappingURL=app.5562719268cddb0494c1cdf0ebf5584f.css.map*/